The most basic example for usage is:
```python
from driviz import theme

theme.enable()
```

### Enable the theme

The following code enables the theme for creating a plot inspired on
[this example](https://altair-viz.github.io/gallery/stacked_bar_chart_with_text.html){:target='_blank'}:

{{ usage_0 }}

### Set basic colors

#### Four colors

The following code enables the theme with **four** colors using the `set_basic_colors` method.
Source: [https://altair-viz.github.io/gallery/normalized_stacked_area_chart.html](https://altair-viz.github.io/gallery/normalized_stacked_area_chart.html){:target='_blank'}.

{{ usage_1 }}

#### Six colors

An option to allow **six** colors is also available by setting the argument `six=True`.

{{ usage_2 }}
